app-header {
  display: flex;
  grid-area: header;
}
footer {
  grid-area: footer;
  min-height: 2em;
  position: relative;
}
body{
  grid-area: list;
}
@media screen and (min-width: 480px) {
  /*DESKTOP*/
}
