<app-room-menu
  (goList)="list()"
  (goDown)="down()"
  (goMap)="map()"
  (goUp)="up()"
  (toggle)="setSetting($event)"
>
</app-room-menu>
<div *ngIf="isList" id="list-items">
  <app-list-item *ngFor="let room of filteredRooms"
                 [room]="room"
                 [beamer_]="beamer_"
                 [bezet]="bezet_"
                 [type]="type_"
                 [naam]="naam_"
                 [drukte]="drukte_"
  ></app-list-item>
</div>

<div *ngIf="!isList" id="map-items">
  <app-map [rooms]="filteredRooms"
           [beamer_]="beamer_"
           [bezet]="bezet_"
           [type]="type_"
           [naam]="naam_"
           [drukte]="drukte_"
  ></app-map>
</div>
